.face, .back {
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility:hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: 1s;
	background: #c0c0c0;
}		
.face{
	transform: perspective(1000px) rotate(180deg) scale(-1, 1) ;
	z-index:3;
}	
.face img{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
}
.back{
	z-index:2;
}
.slide.active{
	width:400px;
	transform: perspective(1000px) rotateX(180deg) rotateY(0deg);
	transition: 1.4s;
	position: relative;
	z-index:1;
}
.slide.active.activePopup{
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
	width:700px;
	height:500px;
	perspective: 3000px;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	z-index:10;
}
.activePopup .back {
	z-index:3;
}
.activePopup .face {
	z-index:2;
}
.empty{
	opacity: 0;
}
.wrapper{
	display: none;
	background: rgba(0,0,0,0.3);
	position: fixed;
	width:100vw;
	height:100vh;
	z-index:9;
	transition:1s;
	opacity: 0;
}