.slider{
	width:1350px;
	height:90vh;
	margin: auto;
	overflow: hidden;
}
.substrate{
	height:300px;
	padding: 50px;
	margin-left: 100px;
}
.slide{
	width:200px;
	background: #c0c0c0;
	height:100%;
	float:left;
	box-shadow:0 0 5px #000;
	position: relative;
	transition:.6s;
	overflow: hidden;
}
.slide.left{
	transform: perspective(300px) rotateY(20deg);
}
.slide.right{
	transform: perspective(300px) rotateY(-20deg);
}
.podlozhka{
	position: relative;
	height:100%;
	width:100%;
}
.podlozhka img{
	width:80%;
}
.slide.left .podlozhka{
	transform: perspective(300px) rotateX(180deg) rotateY(-10deg);	
}
.slide.right .podlozhka{
	transform: perspective(300px) rotateX(180deg) rotateY(10deg);	
}
.none{
	width:0;
}